body{
    font-family: fantasy;
}

td{
    width: 100px;
    color: red; 
    text-align: center;
}


#game{
    visibility: hidden;
}


.imgs{
    height: 100px;
    width: 100px;
}
a{
    color: black;
    padding: 30px;
    text-align: center;
    font-size: 20pt;
}
#game3{
    visibility: hidden;
}

div#game3 > div{
    
	background: url(tile_bg.jpg) no-repeat;
	border:#000 1px solid;
	width:200px;
	height:200px;
	float:left;
	margin:10px;
	padding:20px;
	font-size:150px;
	cursor:pointer;
	text-align:center;
}


